<div class="investments-container" >
    <div class="investments-container__item" >
        <div class="investments-container__item-name">
            <h4>Continental AG</h4>
            <p>10 STck</p>
        </div>
        <div class="investments-container__item-info">
            <div class="investments-container__item-value">
                <p class="item-value"><strong>81.76</strong></p>
                <p class="item-value__add">12:13:11</p>
            </div>
            <div class="investments-container__item-percentage">
                <p class="item-percentage"><strong>+0.55%</strong></p>
                <p class="item-percentage__add">+0.23%</p>
            </div>
        </div>
    </div>
    

</div>