.investments-container{
    &__item{
        display:flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(75, 74, 74);
        &-info{
            display:flex;
            align-items: center;
            .investments-container__item-value{
                padding-left: 1rem;
            }
            .investments-container__item-percentage{
                padding-left: 1rem;
            }
            .investments-container__item-arrow{
                padding-left: 1rem;
            }
        };
    }
}